#cloud-config
hostname: app_server_1
packages:
        - python
runcmd:
        - ifconfig ens4 up 
        - dhclient ens4
        - echo "nameserver 8.8.8.8" > /etc/resolv.conf
        - curl http://169.254.169.254/openstack/latest/meta_data.json > /home/index.html
        - cd /home
        - python -m SimpleHTTPServer 80
